:root {
    --main-color: #577cb1;
    --main-color-over: #1a498c;
    --grigioscuro: #9c9d9e;
    --grigiomedio: #ccc;
    --grigiochiaro: #f6f6f6;
    --main-danger-color: #fc758e;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --dark: #343a40;
}

h1, h2, h3, h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 {
    font-size: 30px;
    color: var(--main-color);
}

h2 {
    font-size: 22px;
    color: var(--main-color);
}

h3 {
    font-size: 19px;
    color: var(--main-color);
}

h4 {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
}

p {
    margin: 0 0 10px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover, a:focus {
    text-decoration: underline;
    color: var(--main-color-over);
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* PAGE */
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100vh;
    margin: 0;
    color: #333;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#pageContainer {
    height: 100vh;
    margin: 0;
}

#pageContent {
    height: calc(100vh - 68px);
}

/* Header */
#headerContainer {
    height: 68px;
    min-height: 68px;
    text-align: center;
}

.loghi {
    display: none;
    margin: 4px 8px;
}

#logo3DSurveySmall, #logo3DSurveyLarge {
    float: left;
}

#logoPolimiSmall, #logoPolimiLarge {
    float: right;
}

#userContainer {
    float: right;
    height: 68px;
    margin-right: 3px;
}

.userInfo {
    float: left;
    margin-top: 20px;
}

#userName {
    line-height: 2.5rem;
    margin-left: 1rem;
}

#userPicture {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--grigiochiaro);
    border-radius: 50%;
    background: #fff no-repeat;
    background-size: cover;
}

#logoutButton {
    float: right;
    height: 68px;
    margin-right: 25px;
}

.logoutIcon {
    width: 2.5rem;
    height: 2.5rem;
}

/* Sidebar */
#sideToolbarContainer {
    position: fixed;
    top: 85px;
    right: 0;
    overflow: hidden;
    padding: 0;
}

#sideToolbarList.k-widget {
    border: none;
    background-color: transparent;
}

.sideToolbarItem {
    margin: 2px 0 2px 0;
    padding: 2px 0 3px 0;
}

.sideToolbarItem.k-state-selected {
    background-color: #6abd2d;
}

.sideToolbarButton {
    display: block;
    height: 40px;
    margin: auto;
    padding: 0 2px;
    text-align: center;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.sideToolbarButton:hover {
    background-color: #7590c6;
}

.sideToolbarButton:focus {
    background-color: #7590c6;
}

.sideToolbarButton img {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.sideToolbarButton.mode3dBtn {
    background-color: #f79e45;
}

.sideToolbarButton.mode3dBtn:hover {
    background-color: #fcac5d;
}

.sideToolbarButton.mode3dBtn:focus {
    background-color: #fcac5d;
}

.sideToolbarSeparator {
    margin-bottom: 20px;
}

/* PAGE SECTIONS, ROWS, COLUMNS */
.pageSection {
    padding: 10px 10px 10px 10px;
}

.pageRow {
    display: block;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 27px 0;
    border-radius: 9px;
    background-color: #fff;
}

.pageColumn {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 35px 0 35px;
}

/* SELECT OBJECT SECTION */
.selectObjectSection {
    padding: 15px 0;
    background-color: #004577;
}

.selectObjectRow {
    padding: 0 0;
}

.selectObjectColumn {
    margin-right: 0;
    margin-left: 0;
    padding: 10px 40px 5px 40px;
    border-radius: 0 0 9px 9px;
}

.selectObjectColumn h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* SELECT OBJECT FORM */
.selectObjectSearchFieldsContainer {
    overflow: hidden;
    width: 98%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0 15px 0;
    border-radius: 12px 12px 12px 0;
    background-color: #d4e8f9;
}

.selectObjectSearchFieldsContainer .k-combobox .k-dropdown-wrap {
    border-color: #d4e8f9;
}

.selectObjectComboContainer label {
    line-height: .7;
}

.selectObjectUselistContainer {
    margin-top: 14px;
    margin-bottom: 10px;
}

.selectObjectButtonsContainer {
    overflow: hidden;
    width: 98%;
    max-width: 1000px;
    min-height: 60px;
    margin: 0 auto;
}

.selectObjectSearchButton {
    float: left;
    width: 33%;
    min-height: 35px;
    padding: 10px 0 10px 0;
    border-radius: 0 0 12px 12px;
    background-color: #d4e8f9;
}

.selectObjectSearchButton .buttonBordered {
    background: rgba(255, 255, 255, 0.2);
}

.selectObjectSearchButton .buttonBordered:hover {
    background-color: var(--main-color);
}

.selectObjectUseyourlistButton {
    float: left;
    width: 56%;
    min-height: 35px;
    padding: 10px 0 10px 0;
    background-color: #fff;
}

/* SELECT OBJECT home page RESULT GRID */
#objectsGridContainer {
    padding: 30px 15px 30px 15px;
    background-color: #ebeff5;

}

#objectsGrid {
    height: 100%;
    margin: 0 auto;
}

/* LOGIN DIALOG WINDOW */
.loginField {
    position: relative;
    width: 80%;
}

.loginDialogIcon .k-window-title::before {
    background: url("../img/lock_icon.png") no-repeat;
}

.loginDialogTitle .k-window-titlebar {
    width: 145px;
}

/* Information Window */
#informationWindow {
    padding: 0 0 0 0;
}

.informationWindowIcon .k-window-title::before {
    background: url("../img/information_icon.png") no-repeat;
}

.informationWindowTitle .k-window-titlebar {
    width: 166px;
}

/* Information Window : Tabstrip */
#infoWindowTabstrip.k-header {
    background-color: transparent;
    background-image: none;
}

#infoWindowTabstrip.k-tabstrip {
    border-width: 0;
    background: none transparent;
}

#infoWindowTabstrip.k-tabstrip .k-tabstrip-items {
    padding: 0;
}

#infoWindowTabstrip.k-tabstrip .k-content {
    margin: 0;
}

#infoWindowTabstrip.k-tabstrip .k-content.k-state-active {
    background-color: transparent;
}

#infoWindowTabstrip.k-tabstrip > .k-content {
    padding: 14px 8px;
}

#infoWindowTabstrip.k-tabstrip-top > .k-content {
    border: 0;
}

#infoWindowTabstrip.k-tabstrip-top > .k-tabstrip-items {
    border-bottom-width: 0;
}

#infoWindowTabstrip.k-tabstrip .k-item.k-state-active {
    color: var(--main-color-over);
    border-color: rgba(0, 0, 0, 0.00);
    background-color: transparent;
}

#infoWindowTabstrip.k-tabstrip:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.00);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.00);
}

#infoWindowTabstrip .k-state-active .k-link {
    border-bottom: 2px solid var(--main-color-over);;
}

#infoWindowTabstrip.k-widget {
    font-size: 14px;
    border-width: 0;
}

#infoWindowTabstrip.k-tabstrip .k-item {
    color: #333;
}

#infoWindowTabstrip ul.k-tabstrip-items li.k-item {
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 0%);
}

.infownd-tabitem.k-content {
    background-color: transparent;
}

.infownd-tabitem.k-content.k-state-active {
    background-color: transparent;
}

/* Scheda - bordata grigio in popup window */
.cardContainer {
    display: block;
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--grigiomedio);
    border-radius: 4px 4px 4px 4px;
}

.k-window-content h3.sheetTitle {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    color: var(--grigioscuro);
}

/* Kendo UI - Form input fields e combobox - Stilizzazione base */
.informationFieldContainer label {
    float: left;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
}

.informationFieldContainer .k-combobox {
    float: left;
}

.informationFieldContainer label.labelInline {
    width: 33%;
    text-align: right;
}

.informationFieldContainer .k-textbox.inputInline {
    width: 65%;
    margin-left: 5px;
}

.informationFieldContainer .k-widget.inputInline {
    width: 65%;
    margin-left: 5px;
}

.informationFieldContainer label.labelMultiline {
    width: 100%;
    text-align: left;
}

.informationFieldContainer .k-textbox.inputMultiline {
    width: 100%;
    margin-left: 0;
}

.informationFieldContainer .k-widget.inputMultiline {
    width: 100%;
    margin-left: 0;
}

.cardContainer .buttonContainer {
    width: 100%
}

input {
    border: none;
}

input[disabled] {
    cursor: default;
}

input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    color: inherit;
}

select {
    text-transform: none;
}

.k-dropdown-wrap {
    border-radius: 0.25rem;
}

.k-list-scroller {
    color: #292b2c;
    border-color: rgba(33, 37, 41, 0.125);
    background-color: #fff;
}

.k-popup {
    color: #333;
    border-color: rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.k-list .k-item.k-state-selected {
    color: #fff;
    background-color: #5994c7;
}

.k-combobox label {
    font-size: inherit;
    font-weight: normal;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 0;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);

}

.k-combobox {
    font-size: 14px;
    float: left;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    cursor: text;
    vertical-align: text-top;
    text-overflow: ellipsis;
    border: none;
    background: transparent;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
}

.k-combobox .k-select {
    background-color: transparent;
    background-image: none;
}

.k-combobox .k-state-hover .k-select {
    background-color: transparent;
    background-image: none;
}

.k-combobox .k-state-hover .k-select .k-i-arrow-60-down::before {
    color: var(--main-color-over);
}

.k-textbox::placeholder, .k-input::placeholder, .k-input.k-textbox::placeholder, .k-textarea::placeholder {
    color: var(--grigioscuro) !important;
}

/* Kendo UI - BUTTONS- Stilizzazione BASE */
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    margin: 0;
    text-transform: none;
    color: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled] {
    cursor: default;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.buttonContainer {
    display: inline-block;
    text-align: center;
}

.buttonBordered {
    line-height: 30px;
    padding: 0 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align: center;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4px 4px 4px 4px;
    background-color: transparent;
}

.buttonBordered:hover {
    color: white;
    background-color: var(--main-color);
}

/* Read only - write Switch - Stilizzazione base*/
/* The switch - the box around the slider */
.readwrite-checkbox {
    position: absolute;
    z-index: 1000;
    top: 6px;
    right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The switch - the slider */
.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: var(--grigiomedio);
}

.slider:before {
    position: absolute;
    bottom: 2px;
    left: 4px;
    width: 21px;
    height: 21px;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
    background-color: white;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -ms-transform: translateX(21px);
    -webkit-transform: translateX(21px);
    transform: translateX(21px);
}

/* The switch - rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.label_rw {
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    color: var(--main-color);
}

/* Kendo UI - Grid Table - Stilizzazione BASE */
/* Round corners - Grid */
.k-grid {
    overflow: hidden;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.k-grouping-header {
    overflow: hidden;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.k-grid-pager {
    overflow: hidden;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

/* Colors and spaces - Grid */
td, th {
    padding: 0;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: #d1d119;
}

.k-grid tr:hover {
    background-color: rgba(174, 202, 242, 0.2);
    background-image: none;
}

.k-grid-header {
    display: block;
}

.k-grid-header .k-header:last-child {
    color: var(--main-danger-color);
}

.k-grid-header th {
    color: var(--main-color);
    background-color: #fff;
}

.k-grid-header .k-header > .k-link {
    color: var(--main-color);
}

col.k-sorted, th.k-sorted {
    background-color: rgba(174, 202, 242, 0.2);
}

row.k-sorted, th.k-sorted {
    background-color: rgba(174, 202, 242, 0.2);
}

th.k-sorted:hover, th.k-sorted:focus, th.k-sorted:active {
    background-color: rgba(174, 202, 242, 0.2);
}

/* WRITE COLUMN - stilizzazione write flag in grid column*/
.k-grid .k-i-check::before {
    color: var(--main-color);
}

/* REMOVE COLUMN - stilizzazione command remove in grid column */
.k-grid-delete .k-i-close::before {
    color: var(--main-danger-color);
}

.avoid-k-button-style {
    border: none;
    background-color: transparent;
    background-image: none;
}

.k-button.avoid-k-button-style:hover {
    border: none;
    background-color: transparent;
    background-image: none;
}

td.k-command-cell {
    text-align: center;
}

.k-command-cell > .k-button.avoid-k-button-style {
    text-align: center;
}

/* Kendo UI - Dialog window - Stilizzazione base */
.k-header .k-link {
    color: var(--main-color);
}

.k-header {
    background-color: transparent;
    background-image: none;
}

.k-widget.windowTitle {
    font-size: 14px;
    line-height: 1.72857;
}

.windowIcon .k-window-title::before {
    display: inline-block;
    width: 35px;
    height: 35px;
    content: "";
    vertical-align: middle;
}

.k-window-titlebar {
    position: relative;
    top: -15px;
    left: 15px;
    padding: 2px 5px;
    color: #fff;
    border-color: inherit;
    border-radius: 4px 4px 4px 4px;
    background-color: #547ab0;
}

.k-dialog-titlebar {
    position: relative;
    top: -15px;
    left: 15px;
    width: 50%;
    color: #fff;
    border-color: inherit;
    background-color: #547ab0;
}

.k-window {
    background-color: #fff;
    box-shadow: 0 0 3px 3px #dbdbdb;
}

.k-dialog {
    box-shadow: 0 0 0 0;
}

.k-window-content form div {
    padding: 0 20px 20px 20px;
}

.k-window-content {
    padding: 0 16px 16px 16px;
}

.k-window-content h3 {
    margin-top: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1096px) {

}

@media screen and (max-width: 1000px) {
    #logoutButton {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {

}

/*max-width: 768px -> .col-xs- */
@media screen and (max-width: 768px) {
    .pageRow {
        width: 95%;
    }
}

@media screen and (max-width: 576px) {
    .selectObjectColumn {
        padding: 10px 30px 5px 30px;
    }

    .selectObjectSearchFieldsContainer {
        border-radius: 12px 12px 0 0;
    }

    .selectObjectSearchButton {
        width: 100%;
    }

    .selectObjectUseyourlistButton {
        width: 100%
    }
}

@media screen and (max-width: 497px) {

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 390px) {

}

@media screen and (max-width: 300px) {

}