/* Stilizzazione GENERICA - Tema base -------------------------------------------- */
:root {
    --main-color: #547ab0;
    --main-color-over: #1a498c;
    --bluchiaro-sfondo: #ebeff5;
    --bluchiaro-testi: #2c9cf7;
    --bluchiaro-hovered-background: #d4e8f9;
    --blumedio-selected-background: #1984c8;
    --bluscuro-sfondo: #004577;
    --azzurrino-sfondo-over: rgba(174, 202, 242, 0.2);
    --azzurrino-sfondo-selected-over: rgba(174, 202, 242, 0.7);
    --greenButtonBackground: #4fb356;
    --greenButtonBackgroundHover: #75e67d;
    --redBackground: #ec5154;
    --redBackgroundHover: #ef7376;
    --disabledBackgroud: #A0A0A0;
    --grigioscuroforte-testo: #333;
    --grigioscuro: #9c9d9e;
    --grigiomedio: #ccc;
    --grigiochiaro: #f6f6f6;
    --main-danger-color: #fc758e;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --dark: #343a40;
    --padding-objectsearchfields: 8px;
    --padding-informationfields: 8px;
}

h1, h2, h3, h4 {
    font-weight: 500;
    line-height: 1.1rem;
}

h1 {
    font-size: 30px;
    color: var(--main-color);
}

h2 {
    font-size: 22px;
    color: var(--main-color);
}

h3 {
    font-size: 19px;
    color: var(--main-color);
}

h4 {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
}

p {
    margin: 0 0 10px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover, a:focus {
    text-decoration: underline;
    color: var(--main-color-over);
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* Page - Tema base*/
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100vh;
    margin: 0;
    color: var(--grigioscuroforte-testo);
    background-color: var(--bluchiaro-sfondo);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow: hidden;
}

/* Buttons - Tema base */
button {
    font-family: inherit;
    font-size: inherit;
    overflow: visible;
    margin: 0;
    text-transform: none;
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

button:disabled, button[disabled], button[disabled]:hover {
    cursor: not-allowed;
    pointer-events: none;
    color: #a0a0a0;
    border-color: #a0a0a0;
    background-color: #fff;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.k-button.k-state-focused, .k-button.k-state-focused.k-state-disabled, .k-button:focus, .k-button:focus:hover, .k-state-disabled .k-button.k-state-focused {
    border-color: #a0a0a0;
    box-shadow: 0 0 2px 1px #a0a0a0;
}

.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
    box-shadow: 0 0 2px 1px var(--main-color);
}

/* Kendo UI - Window and Dialog popup */
.k-dialog {
    overflow: visible;
}

.k-window, .k-dialog {
    background-color: #fff;
    box-shadow: 0 0 3px 3px #dbdbdb;
}

.k-window-content {
    padding: 6px 12px;
}

.k-window-content form div {
    padding: 6px 12px 20px 12px;
}

.k-dialog .k-content {
    padding: 6px 12px;
}

.k-window-content h3 {
    margin-top: 0;
}

.k-header {
    background-color: transparent;
    background-image: none;
}

.k-window-titlebar, .k-dialog-titlebar, .k-dialog.k-alert .k-dialog-titlebar, .k-dialog.k-confirm .k-dialog-titlebar, .k-dialog.k-prompt .k-dialog-titlebar {
    position: relative;
    top: -15px;
    left: 15px;
    padding: 2px 5px;
    color: #fff;
    border-color: inherit;
    border-radius: 4px 4px 4px 4px;
    background-color: var(--main-color);
}

.k-window-titlebar .k-window-action, .k-dialog-titlebar .k-dialog-actions {
    position: static;
    width: 35px;
    height: 35px;
    padding: 2px;
}

/* Kendo UI - Special Dialog popup: Error, Confirm, Prompt  */
.k-alert .k-window-titlebar {
    width: 110px;
}

.k-confirm .k-window-titlebar {
    width: 130px;
}

.k-prompt .k-window-titlebar {
    width: 150px;
}

.k-alert .k-window-titlebar .k-dialog-title {
    visibility: hidden;
}

.k-confirm .k-window-titlebar .k-dialog-title {
    visibility: collapse;
}

.k-prompt .k-window-titlebar .k-dialog-title {
    visibility: hidden;
}

.k-confirm .k-window-title, .k-alert .k-window-title, .k-prompt .k-window-title {
    display: inline-block;
    width: 35px;
    height: 35px;
    content: "";
    vertical-align: middle;
}

.k-confirm .k-window-titlebar::before {
    content: 'Confirm';
    background: url("../img/icons/windowsTitle/confirmDialog.png") no-repeat;
}

.k-alert .k-window-titlebar::before {
    content: 'Alert';
    background: url("../img/icons/windowsTitle/alertDialog.png") no-repeat;
}

.k-prompt .k-window-titlebar::before {
    content: 'Input data';
    background: url("../img/icons/windowsTitle/promptDialog.png") no-repeat;
}

.k-confirm .k-window-titlebar::before, .k-alert .k-window-titlebar::before, .k-prompt .k-window-titlebar::before {
    font-size: 19px;
    line-height: 35px;
    text-indent: 3rem;
}

.k-confirm {
    min-width: 170px;
}

.k-alert {
    min-width: 145px;
}

/* Kendo UI - Tabstrip in popup windows - top */
.k-tabstrip:focus {
    box-shadow: none;
}

.k-window-content .k-tabstrip > .k-tabstrip-items .k-item .k-link {
    font-size: 16px;
}

.k-tabstrip-items .k-item.k-first {
    border-left-color: transparent;
}

/* Kendo UI - Panelbar (accordion) */
.k-panelbar .k-content {
    background-color: #fff;
}

.k-panelbar .k-content, .k-panelbar .k-item, .k-panelbar .k-panel {
    border: none;
}

.k-panelbar > .k-item {
    clear: both;
    margin: 5px 8px;
}

.k-panel > .k-item > .k-link, .k-panelbar > .k-item > .k-link {
    border: none;
}

.k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    box-shadow: none;
}

.k-panelbar .k-item .k-header {
    border: none;
    border-radius: 4px 4px 4px 4px;
    background-color: #f2f2f2;
}

.k-panelbar > .k-item > .k-link:hover, .k-panelbar > .k-item > .k-link.k-state-hover {
    background-color: #d4e8f9;
}

.k-panelbar > .k-item > .k-link.k-state-focused {
    box-shadow: none;
}

.k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded), .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active), .k-panelbar .k-group > .k-item > .k-link.k-state-selected {
    color: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    background-color: #d4e8f9;
}

.k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded):hover, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active):hover {
    color: #333;
    border: none;
    background-color: var(--azzurrino-sfondo-selected-over);
}

.k-panelbar > .k-item.k-state-expanded > .k-link, .k-panelbar > .k-item.k-state-active > .k-link {
    margin-bottom: 8px;
}

.k-panelbar > .k-item.k-state-expanded > .k-link, .k-panelbar > .k-item.k-state-active > .k-link {
    border: none;
    background-color: #d4e8f9;
}

.k-panelbar > .k-item.k-state-expanded > .k-link:hover, .k-panelbar > .k-item.k-state-expanded > .k-link.k-state-hover, .k-panelbar > .k-item.k-state-active > .k-link:hover, .k-panelbar > .k-item.k-state-active > .k-link.k-state-hover, .k-panelbar .k-group > .k-item > .k-link:hover, .k-panelbar .k-group > .k-item > .k-link.k-state-hover {
    border: none;
    background-color: var(--azzurrino-sfondo-selected-over);
}

/* Form input fields, combobox, datepickers - Tema base */
label {
    width: 90%;
}

input {
    border: none;
}

input[disabled] {
    cursor: default;
}

input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    color: inherit;
}

select {
    text-transform: none;
}

/* Kendo UI - Input, Combobox, DateTimePicker, Textarea, numericTextBox ecc... - stili in comune */
.k-autocomplete, .k-combobox .k-dropdown-wrap, .k-datepicker .k-picker-wrap, .k-timepicker .k-picker-wrap, .k-datetimepicker .k-picker-wrap, .k-dateinput .k-dateinput-wrap, .k-textbox, .k-input.k-textbox, .k-textarea, .k-multiselect-wrap, .k-numerictextbox .k-numeric-wrap, .k-dropdown-wrap .k-select, .k-state-default > .k-select, .k-list-container .k-nodata .k-button, .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap, .k-button, .k-button-group.k-state-disabled .k-button:not(.k-state-active), .k-button-group .k-state-disabled:not(.k-state-active), .k-toolbar .k-split-button .k-button, .k-spreadsheet-filter, .k-pivot-toolbar .k-button, .k-fieldselector .k-list li.k-item, .k-colorpicker .k-picker-wrap, .k-combobox .k-select, .k-datepicker .k-select, .k-timepicker .k-select, .k-datetimepicker .k-select, .k-dateinput .k-select, .k-editor .k-editor-toolbar-wrap a.k-tool, .k-ct-popup .k-editor-toolbar a.k-tool, .k-numerictextbox .k-select, .k-switch-handle, .k-handle, .k-gantt-views li, .k-scheduler-navigation .k-nav-today, .k-scheduler-navigation .k-nav-prev, .k-scheduler-navigation .k-nav-next, .k-scheduler-views li, .k-scheduler-footer li {
    border-color: var(--grigiomedio);
}

.k-autocomplete, .k-combobox .k-dropdown-wrap, .k-datepicker .k-picker-wrap, .k-timepicker .k-picker-wrap, .k-datetimepicker .k-picker-wrap, .k-dateinput .k-dateinput-wrap, .k-textbox, .k-input.k-textbox {
    width: 100%;
}

.k-combobox .k-select, .k-numerictextbox .k-select, .k-datetimepicker .k-select, .k-dropdown-wrap.k-state-default, .k-datetimepicker.k-state-default, .k-combobox .k-select:hover, .k-combobox .k-state-hover .k-select, .k-dropdown .k-dropdown-wrap:hover, .k-numerictextbox .k-select:hover, .k-datetimepicker .k-select:hover, .k-dropdown-wrap.k-state-hover, .k-dropdown-wrap.k-state-focused, .k-dropdown-wrap.k-state-active, .k-numerictextbox .k-numeric-wrap.k-state-hover .k-select, .k-numerictextbox .k-numeric-wrap.k-state-focused .k-select, .k-numerictextbox .k-numeric-wrap.k-state-active .k-select, .k-datetimepicker .k-state-hover .k-select {
    background-color: #fff;
    background-image: none;
}

.k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-multiselect-wrap .k-input, .k-numeric-wrap .k-input {
    padding: 4px 4px;
}

textarea.k-textbox {
    padding: 4px 10px;
}

.k-input::placeholder, .k-textbox::placeholder, .k-textarea::placeholder {
    color: var(--grigioscuro) !important;
}

.k-list-container .k-nodata {
    font-weight: normal;
    height: 35px;
    min-height: 35px;
    color: var(--grigioscuro);
}

/* Footer di tutti i Dropdown menu (select, multiselect ecc..) nel caso si scriva il testo a mano nell'input field senza sceglierlo dalla lista*/
.k-popup .k-footer {
    margin: 6px 0;
    text-align: center;
}

/* Kendo UI - Textbox */
.k-textbox {
    border-color: var(--grigiomedio);
}

/* Kendo UI - Multiselect (multicombo) */
.k-multiselect-wrap .k-select {
    position: relative;
}

.k-multiselect-wrap .k-input {
    min-width: 10px;
    padding: 4px 0;
}

.k-multiselect-wrap .k-button .k-select {
    margin-left: 0;
}

.k-multiselect-wrap:hover .k-clear-value, .k-multiselect-wrap.k-state-hover .k-clear-value, .k-state-hover > .k-multiselect-wrap .k-clear-value, .k-multiselect-wrap.k-state-focused .k-clear-value, .k-state-focused > .k-multiselect-wrap .k-clear-value, .k-multiselect-wrap:hover .k-clear-value {
    top: 10%;
    right: 23px;
}

.k-multiselect-clearable .k-multiselect-wrap {
    padding-right: 2.6em;
}

.k-multiselect:after {
    font-family: 'WebComponentsIcons';
    font-size: 16px;
    position: absolute;
    top: 10%;
    right: 7px;
    content: "\e006";
    cursor: pointer;
}

.k-listbox .k-item, .k-popup .k-list .k-item {
    margin-top: 1px;
}

/* Kendo UI - Dropdown menu */
.k-popup {
    color: var(--grigioscuroforte-testo);
    border-color: var(--grigiomedio);
    background-color: #fff;
}

/* Kendo UI - Combobox */
.k-combobox {
    font-size: 14px;
    width: 100%;
    cursor: text;
    vertical-align: text-top;
}

.k-combobox .k-state-hover .k-select .k-i-arrow-60-down::before {
    color: var(--main-color-over);
}

/* Kendo UI - Combobox - erase link button, in dropdown menu, foreach item */
.k-popup li.k-item {
    position: relative;
}

/* Kendo UI - Combobox Group - dropdown menu */
.k-popup .k-list .k-item > .k-group::before {
    display: none;
    border-color: transparent;
}

.k-popup .k-list .k-item > .k-group {
    text-transform: lowercase;
    color: #fff;
    border-radius: 3px;
    background: var(--bluscuro-sfondo);
}

.k-list .k-item:focus, .k-list .k-item.k-state-focused {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.k-draghandle.k-state-selected:hover, .k-state-selected {
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 0%);
}

/* Kendo UI - Combobox Group - group name top of list that change on scroll*/
.k-popup > .k-group-header {
    height: 1.5em;
    text-transform: none;
    border: none;
    border-radius: 4px;
    background: var(--bluscuro-sfondo);
    box-shadow: none;
}

/* Kendo UI - Combobox Group - group name top of every list */
.k-list > .k-item.k-first > .k-group {
    left: 0;
    height: 1.5em;
    text-align: right;
    text-transform: none;
}

.k-list > .k-state-hover.k-first > .k-group {
    height: 1.5em;
    text-align: right;
    text-transform: none;
    background: var(--bluscuro-sfondo);
}

/* Kendo UI - Combobox Group - list item after group name */
.k-list > .k-item.k-first {
    padding-top: 1em;
}

.k-list > .k-state-hover.k-first {
    padding-top: 1em;
}

/* Kendo UI - DateTimePicker */
.k-calendar-view {
    padding: 0 0;
}

.k-calendar .k-today .k-link {
    color: var(--main-color);
    box-shadow: inset 0 0 0 1px var(--main-color);
}

.k-calendar td.k-state-focused .k-link {
    box-shadow: inset 0 0 0 1px var(--main-color);
}

/* Kendo UI - Checkbox */
.k-checkbox-label {
    padding-left: 24px;
}

.k-checkbox-label::before, .k-checkbox-label::after {
    top: -2px;
    width: 20px;
    height: 20px;
}

.k-checkbox-label::before {
    text-align: left;
    border-color: var(--grigiomedio);
}

.k-checkbox:checked + .k-checkbox-label::before {
    color: #fff;
}

.k-checkbox:checked:focus + .k-checkbox-label::before {
    box-shadow: 0 0 0 0;
}

.k-checkbox:indeterminate + .k-checkbox-label::after {
    top: 0;
    left: 4px;
    width: 12px;
    height: 12px;
}

.k-checkbox.k-state-indeterminate, .k-checkbox:indeterminate {
    border-color: rgba(0, 0, 0, .08);
    color: var(--main-color);
    background-color: #fff;
}

/* Kendo UI - Tooltip: k-invalid-msg - warning field error */
span.k-widget.k-tooltip-validation {
    display: block;
    margin: 0;
    color: red;
    border: 0;
    background: none;
    box-shadow: none;
}

/* Kendo UI - Switch */
/* The switch - the box around the slider */
.k-switch-container, .k-switch {
    width: 50px;
    border-color: var(--grigiomedio);
}

.k-switch-on .k-switch-container, .k-switch-off .k-switch-container, .k-switch-off:hover .k-switch-container {
    border-color: var(--grigiomedio);
}

.k-switch-on .k-switch-handle {
    left: calc(100% - 2em);
}

.k-switch-handle {
    width: 2em;
    height: 2em;
    margin: 0;
}

.k-switch-label-off, .k-switch-label-on {
    display: none;
}

.k-switch:active, .k-switch:focus {
    box-shadow: none;
}

.k-switch-on .k-switch-handle, .k-switch-on.k-state-hover .k-switch-handle, .k-switch-on:hover .k-switch-handle, .k-switch-on.k-state-focused .k-switch-handle, .k-switch-on:focus .k-switch-handle {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: var(--main-color);
    background-image: none;
}

/* Kendo UI - Grid Table */
/* Round corners - Grid */
.k-grid {
    overflow: hidden;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.k-grouping-header {
    overflow: hidden;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.k-grid-pager {
    overflow: hidden;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

/* Kendo UI - Colors and spaces - Grid */
td, th {
    padding: 0;
}

.k-grid-header {
    display: block;
}

.k-grid-header .k-header:last-child {
    color: var(--main-danger-color);
}

.k-grid-header th {
    color: var(--main-color);
    background-color: #fff;
}

.k-grid-header .k-header > .k-link {
    color: var(--main-color);
}

col.k-sorted, row.k-sorted, th.k-sorted, th.k-sorted:hover, th.k-sorted:focus, th.k-sorted:active {
    background-color: var(--azzurrino-sfondo-over);
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: #d1d119;
}

.k-grid tr:hover {
    background-color: var(--azzurrino-sfondo-over);
    background-image: none;
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
    background-color: var(--azzurrino-sfondo-selected-over);
    background-image: none;
}

.avoid-k-button-style, .avoid-k-button-style:hover {
    border: none;
    background-color: transparent;
    background-image: none;
}

td.k-command-cell {
    text-align: center;
}

.k-command-cell > .k-button.avoid-k-button-style {
    text-align: center;
}

/* Kendo UI - Write flag - Grid column*/
.k-grid .k-i-check::before {
    color: var(--main-color);
}

/* Kendo UI - Remove flag - Grid column */
.k-grid-delete .k-i-close::before {
    color: var(--main-danger-color);
}

/* Kendo UI - Your list - Grid column*/
.k-grid .k-i-minus, .k-grid .k-i-plus {
    color: var(--main-color);
}

/* Kendo UI - Separator generico */
.k-separator {
    border-color: var(--grigiomedio);
}

/* Kendo UI - Circular Loader */
div.k-loading-mask {
    z-index: 3; /* must be larger than the z-index:2 of #container */
}

.k-loading-mask .k-loading-image {
    background-image: none;
}

.k-loading-mask .k-loading-image {
    background-image: url('../img/progressBarBackground.png');
}

.k-i-loading {
    color: #fff;
}

.k-i-loading::before, .k-loading-image::before, .k-i-loading::after, .k-loading-image::after {
    color: #fff;
    border-width: .07em;
}

/* Kendo UI - Slider next to TreeView */
.k-slider .k-slider-selection {
    background-color: var(--main-color);
}

.k-slider .k-slider-track {
    background-color: var(--bluchiaro-hovered-background);
}

.k-slider .k-draghandle, .k-slider .k-draghandle:hover {
    border-color: var(--main-color);
    color: #fff;
    background-color: var(--main-color);
    background-image: linear-gradient(rgba(255, 138, 88, 0), rgba(50, 44, 244, 0.2));
    border-radius: 50%;
}

.k-slider .k-draghandle.k-state-focused, .k-slider .k-draghandle:focus {
    box-shadow: 0 3px 4px 0 rgba(88, 91, 255, 0.4);
}

.k-widget.k-tooltip {
    background-image: none;
    box-shadow: none;
    color: #fff;
}

.k-widget.k-tooltip.k-slider-tooltip {
    background-color: var(--main-color);
}

.k-callout {
    color: var(--main-color);
}

/* Stilizzazione Layout base - Tema BIM3DSG ------------------------------------------- */
.centeredAbsolute {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%
}

/* Page Sections, Rows, Columns - Tema BIM3DSG */
.pageSection {
    padding: 10px 10px 10px 10px;
}

.pageRow {
    display: block;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 27px 0;
    border-radius: 9px;
    background-color: #fff;
}

.pageColumn {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 35px 0 35px;
}

/* Window */
.windowTabControl {
    overflow: hidden;
    padding: 0;
}

.windowTabControl .k-tabstrip-wrapper {
    height: inherit;
}

.windowTabControl .k-tabstrip {
    height: inherit;
}

.windowTabControl .k-tabstrip .k-content {
    padding: 8px 0;
}

/* Window and Dialog: Icon + Title - Tema BIM3DSG */
.windowIcon .k-window-title::before {
    display: inline-block;
    width: 35px;
    height: 35px;
    content: "";
    vertical-align: middle;
}

.k-widget.windowTitle {
    font-size: 14px;
    line-height: 1.72857;
}

/* Windows popup: Container boxed - Tema BIM3DSG */
.boxedContainer {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 3px 7px;
    text-align: center;
    border: 1px solid var(--grigiomedio);
    border-radius: 4px;
}

.boxedContainer h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 11px 0 6px 0;
    text-transform: uppercase;
    color: var(--main-color);
}

.boxedContainer h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 6px 0;
    color: var(--main-color);
}

.boxedContainer .buttonContainer {
    width: 100%;
    padding: 10px 0 10px 0;
}

/* Nascondi senza lasciare niente: margini, padding o traccia dell'elemento nascosto - Tema BIM3DSG*/
.hidden {
    display: none !important;
    margin: 0 !important;
}

/* Posizione fissa relativa al viewport: in the same place even if the page is scrolled - Tema BIM3DSG*/
.fixedPosition {
    position: fixed;
}

.dialogFormField {
    position: relative;
    width: 90%;
}

.dialogFormField .k-widget {
    width: 100%;
}

/* Stilizzazione SPECIFICA ------------------------------------------------------- */
/* Page Sections, Rows, Columns */
#pageContainer {
    height: 100vh;
    margin: 0;
}

#pageContent {
    height: calc(100vh - 68px);
}

/* Header */
#headerContainer {
    height: 68px;
    min-height: 68px;
    text-align: center;
    background-color: #fff;
}

.logoContainer {
    display: none;
    margin: 4px 8px;
}

#logo3DSurveySmall, #logo3DSurveyLarge {
    float: left;
}

#logoPolimiSmall, #logoPolimiLarge {
    float: right;
}

#userContainer {
    float: right;
    height: 68px;
    margin-right: 3px;
}

.userInfo {
    float: left;
    margin-top: 20px;
}

#userName {
    line-height: 2.5rem;
    margin-left: 1rem;
}

#userPicture {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--grigiochiaro);
    border-radius: 50%;
    background: url("../img/icons/user.png") no-repeat;
    background-size: cover;
}

#logoutLinkContainer {
    float: right;
    width: 2.5rem;
    height: 68px;
    margin: 20px 25px 0 0;
}

/* Buttons */
.buttonContainer {
    display: inline-block;
    text-align: center;
}

.buttonBordered {
    line-height: 17px;
    padding: 6px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4px 4px 4px 4px;
    background-color: transparent;
}

.buttonBordered:hover {
    color: white;
    background-color: var(--main-color);
}

.uploadButtonBordered {
    background-image: none;
    background-clip: unset;
}

.uploadButtonBordered:hover {
    background-image: none;
    border: 2px solid var(--main-color);
}

/* Sidebar */
#sideToolbarContainer {
    position: fixed;
    top: 85px;
    right: 0;
    overflow: hidden;
    padding: 0;
}

#sideToolbarList.k-widget {
    border: none;
    background-color: transparent;
}

.sideToolbarItem {
    margin: 2px 0;
    padding: 2px 0 3px 0;
}

.sideToolbarItem.k-state-selected {
    background-color: #6abd2d;
}

.sideToolbarButton {
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
    padding: 0 2px;
    text-align: center;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.sideToolbarButton:hover, .sideToolbarButton:focus {
    background-color: #7590c6;
}

.sideToolbarButton img {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.sideToolbarSeparator {
    margin-bottom: 20px;
}

.orangeButton {
    background-color: #f79e45;
}

.orangeButton:hover, .orangeButton:focus {
    background-color: #fcac5d;
}

.greenButton {
    background-color: var(--greenButtonBackground) !important;
}

.greenButton:hover, .greenButton:focus {
    background-color: var(--greenButtonBackgroundHover) !important;
}

.redButton {
    background-color: var(--redBackground) !important;
}

.redButton:hover, .redButton:focus {
    background-color: var(--redBackgroundHover) !important;
}

.disabledButton {
    background-color: var(--disabledBackgroud) !important;
}

.disabledButton:hover, .disabledButton:focus {
    background-color: var(--disabledBackgroud) !important;
}

/* Main page - Select object section */
#selectObjectContainer {
    padding: 15px 0;
    background-color: var(--bluscuro-sfondo);
}

#selectObjectRow {
    padding: 0;
}

#selectObjectColumn {
    margin-right: 0;
    margin-left: 0;
    padding: 10px 40px 5px 40px;
    border-radius: 0 0 9px 9px;
}

#selectObjectColumn h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Main page - Select object form */
.selectObjectSearchFieldsContainer {
    overflow: hidden;
    width: calc(100% - 2 * (var(--padding-objectsearchfields)));
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px var(--padding-objectsearchfields) 15px var(--padding-objectsearchfields);
    border-radius: 12px 12px 12px 0;
    background-color: #d4e8f9;
}

.selectObjectSearchFieldsContainer .k-combobox .k-dropdown-wrap {
    border-color: #d4e8f9;
}

.selectObjectComboContainer {
    float: left;
    width: calc(33.3% - 2 * (var(--padding-objectsearchfields)));
    padding: 3px var(--padding-objectsearchfields);
}

.selectObjectComboContainer label {
    height: 31px;
}

.threeColumns {
    float: left;
    width: calc(33.3% - 2 * (var(--padding-objectsearchfields)));
    padding: 10px var(--padding-objectsearchfields) 0 var(--padding-objectsearchfields);
    text-align: center;
}

.selectOptionContainer {
    display: inline-flex;
    padding-top: 8px;
}

.selectObjectButtonsContainer {
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    min-height: 60px;
    margin: 0 auto;
}

#searchObjectBtnContainer {
    float: left;
    width: 66.5%;
    min-height: 35px;
    padding: 10px 0 10px 0;
    border-radius: 0 0 12px 12px;
    background-color: #d4e8f9;
}

.twoColumns {
    float: left;
    width: calc(50% - 32px);
    padding: 0 16px;
}

.searchCheckBox {
    float: left;
    width: calc(34% - 32px);
    margin-top: 6px;
    padding: 0 16px;
}

.searchCheckBox .k-checkbox-label {
    padding-left: 24px;
}

#searchObjectBtnContainer .buttonBordered {
    background: rgba(255, 255, 255, 0.2);
}

#searchObjectBtnContainer .buttonBordered:hover {
    background-color: var(--main-color);
}

#loadUserListBtnContainer {
    float: left;
    width: 32%;
    min-height: 35px;
    padding: 10px 0 10px 0;
    background-color: #fff;
}

/* Main page - Grid object list section */
#objectsGridContainer {
    padding: 30px 15px 30px 15px;
    background-color: #ebeff5;
}

#objectsGrid {
    height: 100%;
    margin: 0 auto;
}

/* Window and Dialog popup*/
/* Login dialog window */
.loginDialogIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/login.png") no-repeat;
}

.loginDialogTitle .k-window-titlebar {
    width: 180px;
}

.loginField {
    position: relative;
    width: 80%;
}

.dialogFormField input:focus {
    outline: none;
}

/* Rename Combo dialog when edit dropdown icon is clicked on information window */
.renameComboDialogIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/edit.png") no-repeat;
}

.renameComboDialogTitle .k-window-titlebar {
    width: 280px;
}

/* Add a new object dialog */
.addNewObjectDialogIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/addObject.png") no-repeat;
}

.addNewObjectDialogTitle .k-window-titlebar {
    width: 230px;
}

/* Add a new hotspot dialog */
.addNewHotspotDialogIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/addHotspot.png") no-repeat;
}

.addNewHotspotObjectDialogTitle .k-window-titlebar {
    width: 230px;
}

/* Image window */
.imageWindowIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/image.png") no-repeat;
}

.imageWindowTitle .k-window-titlebar {
    width: 140px;
}

/* Image Gallery */
.imageListView {
    margin: 5px 0 15px 0;
    border: 0;
}

.galleryImageElement {
    float: left;
    position: relative;
    height: 192px;
    /*    margin: 0 5px;*/
    padding: 0;
}

.galleryImage {
    height: 192px;
}

.galleryImageHover {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleryImageElement:hover div.galleryImageHover {
    visibility: visible;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    transition: background .2s linear, color .3s linear;
    -moz-transition: background .2s linear, color .3s linear;
    -webkit-transition: background .2s linear, color .3s linear;
    -o-transition: background .2s linear, color .3s linear;
}

.galleryImageToolbar div.buttonWindowsToolbarContainer {
    padding: 10px;
}

.buttonGalleryContainer {
    height: 176px;
    width: 192px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* ImageViewer window */
.imageViewerWindowTitle .k-window-titlebar {
    width: 200px;
}

.imageViewerContainer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.maxSize {
    max-height: 100%;
    max-width: 100%;
}

/* Add image Dialog */
.addImageWindowTitle .k-window-titlebar {
    width: 240px;
}

/* Information window */
.informationWindowIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/information.png") no-repeat;
}

.informationWindowTitle .k-window-titlebar {
    width: 190px;
}

/* Information Window - Columns */
.informationColumnLeft {
    float: left;
    width: calc(50% - 2 * (var(--padding-informationfields)));
    margin-right: var(--padding-informationfields);
    margin-left: var(--padding-informationfields);
}

.informationColumnRight {
    float: right;
    width: calc(50% - var(--padding-informationfields));
    margin-right: var(--padding-informationfields);
    margin-left: 0;
}

/* Information Window - Input fields */
.informationFieldContainer {
    overflow: auto;
    margin-bottom: 7px;
}

/* Information Window - Input fields: Label style*/
.informationFieldContainer .labelContainer {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
}

.informationFieldContainer .labelContainer:after {
    display: inline-block;
    width: 0;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.informationFieldContainer .labelContainer.labelInline {
    width: 33%;
    height: 31px;
    text-align: right;
}

.informationFieldContainer .labelContainer.labelMultiline {
    width: 100%;
    text-align: left;
}

.informationFieldContainer .labelContainer label {
    line-height: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}

/* Information Window - Input fields: Input style*/
.informationFieldContainer .k-textbox, .informationFieldContainer .k-combobox, .informationFieldContainer .k-dropdown-wrap {
    height: 31px;
}

.informationFieldContainer .inputInline {
    float: left;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    margin-left: 5px;
}

.informationFieldContainer .inputMultiline {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
}

/* Checkbox label & input always inline */
.informationFieldContainer .inputCheckboxContainer {
    line-height: 31px;
    text-align: left;
}

.informationFieldContainer .labelCheckboxContainer.labelInline {
    width: 33%;
    height: 31px;
    text-align: right;
}

.informationFieldContainer .labelCheckboxContainer.labelMultiline {
    float: right;
    width: calc(100% - 25px);
    height: 31px;
    margin-left: 5px;
}

.informationFieldContainer .inputCheckboxContainer.inputInline {
    float: left;
    width: 60%;
    max-width: 60%;
    margin-left: 5px;
}

.informationFieldContainer .inputCheckboxContainer.inputMultiline {
    float: left;
    width: 20px;
    max-width: 20px;
    text-align: left;
}

/*Windows Common css */
.playButton {
    display: block;
    margin: auto;
    padding: 6px 6px 0 6px;
    text-align: center;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.windowsToolbarContainer {
    position: absolute;
    top: 6px;
    right: 8px;
}

.buttonWindowsToolbarContainer {
    display: inline-block;
    margin-left: 1px;
}

.buttonWindowsToolbarContainer span {
    display: block;
    padding: 1px 2px;
    border: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: var(--main-color);
}

.buttonWindowsToolbarContainer span:hover, .buttonWindowsToolbarContainer span:focus {
    background-color: #7590c6;
}

.buttonWindowsToolbarContainer img {
    display: inline-block;
    width: 25px;
    vertical-align: middle;
}

/*GIS Window */
#gisWindow {
    padding: 0 6px;
}

.gisWindowIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/gisMode.png") no-repeat;
    margin-right: 6px;
}

.gisWindowTitle .k-window-titlebar {
    width: 160px;
}

#layersGisContainer {
    background-color: #ebeff5;
    position: absolute;
    z-index: 10;
    right: 6px;
    top: 48px;
    width: 40%;
    height: calc(100% - 55px);
}

#layersGisContainer h4 {
    margin: 0;
    padding: 16px 0;
    text-align: center;
}

#layersGisTreeView {
    height: calc(100% - 47px);
    display: flex;
}

#layersGisTreeView .k-treeview-lines, span.k-in, .transparencySliderContainer {
    flex-grow: 1;
}

#layersGisTreeView .k-treeview .k-in.k-state-hover, .k-treeview .k-in:hover, .k-treeview .k-in.k-state-selected, .k-treeview .k-in.k-state-focused {
    color: rgb(51, 51, 51);
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
}

.transparencySliderContainer {
    margin-left: 10px;
    margin-right: 4px;
    text-align: right;
}

#layersGisTreeView .k-slider {
    width: 100px;
    vertical-align: middle;
}

#mapContainer {
    width: 100%;
    height: calc(100% - 7px);
}

.ol-mouse-position {
    right: 42px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    padding: 2.5px;
    background: rgba(0, 60, 136, 0.5);
    background-clipclip: padding-box;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.ol -overviewmap {
    left: 8px;
    bottom: 34px;
}

/* Model window */
#modelWindow {
    padding: 0 6px;
}

.modelWindowIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/3dMode.png") no-repeat;
    margin-right: 6px;
}

.modelWindowTitle .k-window-titlebar {
    width: 160px;
}

#modelCanvas {
    width: 100%;
    height: calc(100% - 7px);
}

#notification3dContainer {
    position: absolute;
    margin-top: 8px;
    width: 99%;
    text-align: center;
}

#addHotspotNotification {
    padding: 8px;
    background: var(--greenButtonBackground);
    color: white;
}

#settings3dFrame {
    background-color: #ebeff5;
    overflow: hidden;
}

#settings3dFrame h4 {
    margin: 0;
    padding: 16px 0;
}

.settings3dContainer {
    float: left;
    width: 50%;
    text-align: center;
}

.dotInput {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--grigiomedio);
    border-radius: 50%;
}

.dotInput:after {
    content: "";
    position: absolute;
    display: none;
}

.dotInput0 {
    height: 15px;
    width: 15px;
}

.dotInput1 {
    height: 17px;
    width: 17px;
}

.dotInput2 {
    height: 19px;
    width: 19px;
}

.dotInput3 {
    height: 21px;
    width: 21px;
}

.dotInput4 {
    height: 23px;
    width: 23px;
}

.dotInput5 {
    height: 25px;
    width: 25px;
}

.dotInput6 {
    height: 27px;
    width: 27px;
}

.dotInput7 {
    height: 29px;
    width: 29px;
}

.dotRadioLabel {
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dotRadioLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.dotRadioLabel:hover input ~ .dotInput {
    background-color: var(--grigioscuro);
}

.dotRadioLabel input:checked ~ .dotInput {
    background-color: var(--main-color);
}

.dotRadioLabel input:checked ~ .dotInput:after {
    display: block;
}

.dotRadioLabel0 {
    padding-left: 0;
    padding-top: 0
}

.dotRadioLabel1 {
    padding-left: 20px;
    padding-top: 2px;
}

.dotRadioLabel2 {
    padding-left: 22px;
    padding-top: 4px;
}

.dotRadioLabel3 {
    padding-left: 24px;
    padding-top: 6px;
}

.dotRadioLabel4 {
    padding-left: 26px;
    padding-top: 8px;
}

.dotRadioLabel5 {
    padding-left: 28px;
    padding-top: 10px;
}

.dotRadioLabel6 {
    padding-left: 30px;
    padding-top: 12px;
}

.dotRadioLabel7 {
    padding-left: 32px;
    padding-top: 14px;
}

/* Info Dialog (alert, confirm, prompt dialog had a specific widget in kendo except for "info") */
.infoDialogIcon .k-window-title::before {
    background: url("../img/icons/windowsTitle/infoDialog.png") no-repeat;
}

.infoDialogTitle .k-window-titlebar {
    width: 130px;
}

/* Tooltip warning input error */
span.k-widget.k-tooltip-validation.inputInline {
    float: left;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    margin-left: calc(33% + 5px);
    text-align: left;
}

span.k-widget.k-tooltip-validation.inputMultiline {
    float: left;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    text-align: left;
}

/* Combobox, Multiselect - Erase & Edit button-icon, in dropdown menu, foreach item */
.k-popup .k-icon.buttonDropdownItemErase {
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 3px;
    text-align: right;
    color: var(--main-danger-color);
}

.k-popup .k-icon.buttonDropdownItemEdit {
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 17px;
    text-align: right;
    color: var(--main-color);
}

.k-popup .k-item.k-state-selected .k-icon.buttonDropdownItemEdit {
    color: #fff;
}

/* Read only - write Switch */
.writeSwitchContainer {
    position: absolute;
    top: 6px;
    right: 20px;
}

.writeSwitchLabel {
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    color: var(--main-color);
}

/* Media queries */
@media screen and (max-width: 1096px) {

}

@media screen and (max-width: 1024px) {
    body {
        overflow: auto;
    }
}

@media screen and (max-width: 1000px) {
    #logoutButton {
        margin-right: 0;
    }

    .selectObjectComboContainer {
        width: calc(50% - 2 * (var(--padding-objectsearchfields)));
        padding: 0 var(--padding-objectsearchfields);
    }

    .threeColumns {
        float: left;
        width: calc(33.3% - 2 * (var(--padding-objectsearchfields)));
        padding: 10px var(--padding-objectsearchfields) 0 var(--padding-objectsearchfields);
        text-align: center;
    }

}

@media screen and (max-width: 992px) {

}

/*max-width: 768px -> .col-xs- */
@media screen and (max-width: 768px) {
    .pageRow {
        width: 95%;
    }
}

@media screen and (max-width: 576px) {
    #selectObjectColumn {
        padding: 10px 30px 5px 30px;
    }

    .selectObjectSearchFieldsContainer {
        border-radius: 12px 12px 0 0;
    }

    #searchObjectBtnContainer, #loadUserListBtnContainer {
        width: 100%;
    }
}

@media screen and (max-width: 497px) {

}

@media screen and (max-width: 450px) {
    .selectObjectComboContainer {
        width: calc(96% - 2 * (var(--padding-objectsearchfields)));
        padding: 0 var(--padding-objectsearchfields);
    }

    .selectObjectSearchFieldsContainer {
        padding-bottom: 0;
    }

    #searchObjectBtnContainer {
        padding-top: 0;
    }

    .threeColumns {
        float: left;
        width: calc(96% - 2 * (var(--padding-objectsearchfields)));
        padding: 10px var(--padding-objectsearchfields) 0 var(--padding-objectsearchfields);
        text-align: center;
    }

    .twoColumns {
        float: left;
        width: calc(96% - 32px);
        padding: 10px 16px 0 16px;
    }
}

@media screen and (max-width: 390px) {

}

@media screen and (max-width: 300px) {

}