/* Page */
html, body, div#pageContainer {
    height: 100vh;
    margin: 0;
}

#pageContent {
    height: calc(100vh - 68px);
    background-color: #ebeff5;
}

/* Header */
#headerContainer {
    height: 68px;
    min-height: 68px;
    text-align: center;
}

.loghi {
    display: none;
    margin: 4px 8px;
}

#logo3DSurveySmall, #logo3DSurveyLarge {
    float: left;
}

#logoPolimiSmall, #logoPolimiLarge {
    float: right;
}

#userContainer {
    float: right;
    height: 68px;
    margin-right: 3px;
}

.userInfo {
    float: left;
    margin-top: 20px;
}

#userName {
    line-height: 2.5rem;
    margin-left: 1rem;
}

#userPicture {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--grigiochiaro);
    border-radius: 50%;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

#logoutButton {
    float: right;
    height: 68px;
    margin-right: 25px;
}

.logoutIcon {
    width: 2.5rem;
    height: 2.5rem;
}

/* Sidebar */
#sideToolbarContainer {
    position: fixed;
    top: 85px;
    right: 0;
    overflow: hidden;
    padding: 0;
}

#sideToolbarList.k-widget {
    border: none;
    background-color: transparent;
}

.sideToolbarItem {
    margin: 2px 0 2px 0;
    padding: 2px 0 3px 0;
}

.sideToolbarItem.k-state-selected {
    background-color: #6abd2d;
}

.sideToolbarBtn {
    display: block;
    height: 40px;
    margin: auto;
    padding: 0 2px;
    text-align: center;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.sideToolbarBtn:hover {
    background-color: #7590c6;
}

.sideToolbarBtn:focus {
    background-color: #7590c6;
}

.sideToolbarBtn img {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.sideToolbarBtn.mode3dBtn {
    background-color: #f79e45;
}

.sideToolbarBtn.mode3dBtn:hover {
    background-color: #fcac5d;
}

.sideToolbarBtn.mode3dBtn:focus {
    background-color: #fcac5d;
}

.sideToolbarSeparator {
    margin-bottom: 20px;
}

/* Login Window */
.loginField {
    position: relative;
    width: 80%;
}

.loginDialogIcon .k-window-title::before {
    background: url("../img/lock_icon.png") no-repeat;
}

.loginDialogTitle .k-window-titlebar {
    width: 145px;
}

/* Kendo UI Windows */
.k-widget.windowTitle {
    font-size: 14px;
    line-height: 1.72857;
}

.windowIcon .k-window-title::before {
    display: inline-block;
    width: 35px;
    height: 35px;
    content: "";
    vertical-align: middle;
}

/* Media Query */
@media screen and (max-width: 1000px) {
    #logoutButton {
        margin-right: 0;
    }
}