:root {
    --main-color: #577cb1;
    --main-color-over: #1a498c;
    --grigioscuro: #9c9d9e;
    --grigiomedio: #cccccc;
    --grigiochiaro: #f6f6f6;
    --main-danger-color: #FC758E;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.main-color {
    color: var(--main-color);
}

.danger-color {
    color: var(--main-danger-color);
}


button,input,optgroup,select,textarea{ color:inherit; font:inherit; margin:0}
button{overflow:visible}button,select{ text-transform:none }
button,html input[type=button],input[type=reset],input[type=submit]{ -webkit-appearance:button; cursor:pointer }
button[disabled],html input[disabled]{ cursor:default }
button::-moz-focus-inner,input::-moz-focus-inner{ border:0; padding:0 }

input{
    border: none;
    /*border-bottom: 1px solid #a6abb3;*/
}
input[type=checkbox],input[type=radio]{ box-sizing:border-box; padding:0;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{ height:auto; }
input[type=search]{ -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{ border:1px solid silver; margin:0 2px; padding:.35em .625em .75em}
legend{ border:0; padding:0}
textarea{ overflow:auto}
optgroup{ font-weight:700}
table{ border-collapse:collapse; border-spacing:0}
td,th{ padding:0}

input,button,select,textarea{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}

a { color:#428bca; text-decoration:none}
a:hover,a:focus { color:#2a6496; text-decoration:underline}
a:focus{ outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px}

figure{margin:0}
img{vertical-align:middle}
.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{font-weight:400;line-height:1;color:#999}
h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:10px}
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small{font-size:65%}
h4,.h4,h5,.h5,h6,.h6{margin-top:10px;margin-bottom:10px}
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small{font-size:75%}
h1,.h1{font-size:36px}
h2,.h2{font-size:30px}
h3,.h3{font-size:24px}
h4,.h4{font-size:14px; font-weight:400;}
h5,.h5{font-size:14px}
h6,.h6{font-size:12px}
p{margin:0 0 10px}.lead{margin-bottom:20px;font-size:16px;font-weight:200;line-height:1.4}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height:1.42857143;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    color:#333;
}


.page-section {
    padding: 10px 10px 10px 10px;
}

.page-row {
    max-width: 1080px;
    display: block;
    margin: 0 auto;
    padding: 27px 0;
    background-color: #ffffff;
    border-radius: 9px;
    /*border:1px solid pink;*/
}

.page-column {
    max-width:1000px;
    margin:0 auto;
    padding: 0 35px 0 35px;
}

    .page-title-row {
        background-color: transparent;
        padding: 0 0;
    }

    .page-title-column {
        padding: 0 0 0 0;
    }

    .page-title {
        font-size: 20px;
        font-weight:bold;
        line-height: 15px;
        color: #ffffff;
    }

    .search-title-column {
        padding: 5px 40px 0px 40px;
    }

    h2.search-title {
        font-size: 23px;
        margin-top: 5px;
        margin-bottom:10px;
    }

    p.search-subtitle {
        font-size: 16px;
        font-family: sans-serif;
        padding-left: 10px;
        margin: 0 0 4px;
    }

    p.notes {
        padding-left: 10px;
        margin: 0 0 4px;
    }

    .search-form-section {
        padding: 15px 0;
        background-color: #004577;
    }

    .search-form-row {
        padding: 0 0;
    }

    .search-form-column {
        border-radius: 0 0 9px 9px;
        padding: 0px 40px 5px 40px;
        margin-left: 0;
        margin-right: 0;
    }


    .grid-result-section {
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:95%;
        max-width:95%;
        padding:0 0 0 0;
    }


/* Search form full page*/
.search-form-searchfields {
    float: left;
    width: 753px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 12px;
}

.search-form-uselist {
    float: left;
    width: 237px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-searchfield {
    width: 240px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 3px 0 3px;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    /*display: flex;*/
    align-items: center;
    cursor: text;
    font-size: 14px;
    /*color: #00a680;*/
    border: none;
    background: transparent;
}

.input-searchfield label {
    /* padding-left: 3px;*/
     font-size: 14px;
     font-weight: normal;
     /*display: inline-block;
    color: var(--grigioscuro);*/
}

.inputLayer {
    font-size: 16px;
    flex-grow: 1;
    width: 100%;
    /*height: 42px;
    margin: 0 15px;
    display: inline-block;*/
    box-sizing: border-box;
    /*border: none;*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*outline: none;*/
    vertical-align: text-top;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

/*
input.k-textbox.inputLayer {
    padding: 0 15px;
}
*/
.btn-wrap {
    text-align: center;
}

.btn-wrap-left {
    text-align: left;
}

.btn-wrap-right {
    text-align: right;
}

.btn-md {
    width: 200px;
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.btn-thin {
    padding-top: 0px;
    padding-bottom: 0px;
}


/* LOGIN & USER PROFILE LINK in header style */



#logoutLabel {
    float: left;
    margin-left: 0;
    line-height: 2.5rem;
    margin-top: 18px;
}


/* Stilizzazione GRID - TABLES -stilizzazione BASE - DI TUTTE LE TABLES */
.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: #D1D119;
}

.k-widget {
    border-width: 0px;
    border-style: none;
    border-bottom: 1px solid #eae8e8;
}

.k-grid tr:hover {
    background-color: rgba(174,202,242, 0.2);
    background-image: none;
}

.k-grid-header-wrap, .k-grid-footer-wrap {
    border-width: 1px 1px 0 0;
}

div.k-grid-header{
    display: block;
    background-color: #eae8e8;
}

.k-grid-header .k-header:first-child {
    border-left-width: 1px;
}

.k-grid-header .k-header:last-child {
    color: var(--main-danger-color);
}

.k-grid-header th {
    color: var(--main-color);
}

.k-grid-header .k-header > .k-link {
    color: var(--main-color);
}

.k-grid-content td:last-child  {
    border-right: 1px solid  #eae8e8;
}

.ContentBeforeGrid {
    display: block;
    height: 50px;
}


col.k-sorted, th.k-sorted {
    background-color: rgba(174,202,242, 0.2);
}

row.k-sorted, th.k-sorted {
    background-color: rgba(174,202,242, 0.2);
}

th.k-sorted:hover, th.k-sorted:focus, th.k-sorted:active {
    background-color: rgba(174,202,242, 0.2);
}

.k-grid td:first-child {
    border-left-width: 1px;
}

/* stilizzazione write flag in write column */
tr.row_writable .k-grid td.writeReadFlagCell {
    /*background-image: url("../../img/plus-icon-blueborder.png") no-repeat center;*/
    border:1px solid red;
    background-color: #1d5e00 !important;
}

/* stilizzazione command remove in grid column */
.avoid-k-button-style {
    border:none;
    background-color: transparent;
    background-image:none;
}


.k-button.avoid-k-button-style:hover {
    border:none;
    background-color: transparent;
    background-image:none;
}

td.k-command-cell {
    text-align:center;
}

.k-command-cell > .k-button.avoid-k-button-style {
    text-align: center;
}

.k-grid-delete .k-i-close::before {
    color: var(--main-danger-color);
}


/* Pulsanti addlist e removelist */

.button { width:40px; height:40px; border:none;}
#addObjectToListBtn { background: url("../../img/plus-icon-blueborder.png") no-repeat left; }
#eraseListBtn { background: url("../../img/trash-icon-redborder.png") no-repeat left; }

#caricamentoPanel {display:none; }

.ContentAfterGrid {
    margin-bottom: 6px;
}
/*
.no-scrollbar .k-grid-header {
    padding: 0 !important;
}

.no-scrollbar .k-grid-content {
    overflow-y: visible;
}
*/



/* FINESTRE di DIALOGO - stilizzazione BASE - DI TUTTE LE FINESTRE DI DIALOGO*/
.k-header .k-link{
    color: var(--main-color);
}

.k-header {
    background-image: none;
    background-color: #ffffff;
}

.k-window-titlebar {
    border-radius: 4px 4px 4px 4px;
    padding: 2px 5px;
    border-color: inherit;
    color: #ffffff;
    background-color: #547ab0;
    position: relative;
    top: -15px;
    left: 15px;
}

.k-dialog-titlebar {
    border-color: inherit;
    color: #ffffff;
    background-color: #547ab0;
    width: 50%;
    position: relative;
    top: -15px;
    left: 15px;
}

.k-window {
    box-shadow: 0 0 3px 3px #dbdbdb;
    background-color: #ffffff;
}

k-dialog {
    box-shadow: 0 0 0 0;
}

.k-window-content form div {
    padding: 0 20px 20px 20px;
}

.k-window-content { padding: 0 16px 16px 16px;}

.k-window-content h3 {
    margin-top:0;
}

/* LOGIN BOARD-- finestra di dialogo per la LOGIN */

/* MEDIA QUERIES*/

@media screen and (max-width: 1200px){
}

@media screen and (max-width:1000px) {
}

@media screen and (max-width: 1096px) {

    .page-row {
        max-width: 980px;
    }

    .page-column {
        max-width: 960px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:95%;
        max-width:95%;
    }

    .side-tool-btn-image {
        display: inline-block;
    }

    .search-form-searchfields {
        width: 653px;
    }

    .input-searchfield {
        width: 206px;
    }
}

@media screen and (max-width: 992px) {

    .page-row {
        max-width: 740px;
        /*border: 1px solid yellow;*/
    }

    .page-column {
        max-width: 720px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:95%;
        max-width:95%;
    }

    .page-title-row {
        background-color: transparent;
        padding: 0 0;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .search-form-uselist {
        height: 80px;
    }



}


/*max-width: 768px -> .col-xs- */
@media screen and (max-width: 768px) {

    .page-row {
        max-width: 550px;
        /*border: 1px solid red;*/
    }

    .page-column {
        max-width: 530px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:90%;
        max-width:90%;
    }

    .menu-list-details .title,
    .menu-list-details .name {
        display: none;
    }

    .side-tool-btn-image {
        display: inline-block;
    }

    .sideToolbarItem {
        margin: auto;
        text-align: center;
    }

    .search-form-searchfields {
        width: 458px;
    }
}

@media screen and (max-width: 576px) {

    .page-row {
        max-width: 480px;
        /*border: 1px solid black;*/
    }

    .page-column {
        max-width: 460px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:90%;
        max-width:90%;
    }

    .search-form-searchfields {
        width: 390px;
    }

    .input-searchfield {
        width: 375px;
    }

}


@media screen and (max-width: 497px) {

    .page-row {
        max-width: 460px;
        /*border: 1px solid black;*/
    }

    .page-column {
        max-width: 440px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:90%;
        max-width:90%;
    }

    .search-form-searchfields {
        width: 370px;
    }

    .input-searchfield {
        width: 360px;
    }

}


@media screen and (max-width: 450px) {

    .page-row {
        max-width: 420px;
        /*border: 1px solid black;*/
    }

    .page-column {
        max-width: 410px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:80%;
        max-width:80%;
    }

    .search-form-searchfields {
        width: 300px;
    }

    .input-searchfield {
        width: 290px;
    }

}

@media screen and (max-width: 390px) {

    .page-row {
        max-width: 340px;
    }

    .page-column {
        max-width: 330px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:80%;
        max-width:80%;
    }

    .search-form-searchfields {
        width: 250px;
    }

    .input-searchfield {
        width: 240px;
    }

}

@media screen and (max-width: 300px) {

    .page-row {
        max-width: 250px;
    }

    .page-column {
        max-width: 240px;
    }

    .grid-result-row {
        width:100%;
        max-width:100%;
    }

    .grid-result-column {
        width:80%;
        max-width:80%;
    }

    .search-form-searchfields {
        width: 150px;
    }

    .input-searchfield {
        width: 140px;
    }

}