.hide {
    visibility: collapse;
}

.ui-page {
    height: 100%;
    min-height: 100% !important;
}

.ui-mobile .ui-page .ui-footer {
    position: absolute;
    bottom: 0px;
    border: 0px;
    height: 128px;
    width: 100%;
}

:not(div[role="dialog"]) .ui-mobile .ui-page .ui-header {
    position: absolute;
    top: 0px;
    border: 0px;
    height: 64px;
    width: 100%;
}

:not(div[role="dialog"]) .ui-mobile .ui-page .ui-content {
    position: absolute;
    padding: 0px;
    top: 64px;
    bottom: 128px;
    width: 100%;
}

.ui-block-a, .ui-block-c {
    background-color: transparent;
    min-width: 180px;
}

.ui-block-b {
    background-color: transparent;
    min-width: 1px;
}

.ui-bar-a {
    background-color: transparent;
    border-color: transparent;
}

.ui-content {
    position: relative;
}

.ui-btn-double-size {
    width: 56px;
    height: 56px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.ui-btn-double-size.ui-btn-icon-notext.ui-btn-corner-all, .ui-btn-double-size.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: 28px;
    border-radius: 28px;
}

.ui-btn-double-size.ui-btn-icon-left:after, .ui-btn-double-size.ui-btn-icon-right:after, .ui-btn-double-size.ui-btn-icon-top:after, .ui-btn-double-size.ui-btn-icon-bottom:after, .ui-btn-double-size.ui-btn-icon-notext:after {
    width: 44px;
    height: 44px;
}

.ui-btn-double-size.ui-btn-icon-notext:after, .ui-btn-double-size.ui-btn-icon-top:after, .ui-btn-double-size.ui-btn-icon-bottom:after {
    margin-left: -22px;
}

.ui-btn-double-size.ui-btn-icon-notext:after, .ui-btn-double-size.ui-btn-icon-left:after, .ui-btn-double-size.ui-btn-icon-right:after {
    margin-top: -22px;
}

.ui-btn-double-size.ui-btn-icon-left:after, .ui-btn-double-size.ui-btn-icon-right:after, .ui-btn-double-size.ui-btn-icon-top:after, .ui-btn-double-size.ui-btn-icon-bottom:after, .ui-btn-double-size.ui-btn-icon-notext:after {
    -webkit-border-radius: 22px;
    border-radius: 22px;
}

.ui-btn-double-size.ui-icon-user:after {
    background-size: 28px;
}

.ui-btn-double-size.ui-icon-action:after {
    background-size: 28px;
}

.ui-btn-double-size.ui-icon-navigation:after {
    background-size: 28px;
}

.ui-btn-double-size.ui-icon-info:after {
    background-size: 28px;
}

.ui-filter-inset {
    margin-top: 0;
}

.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}

.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}

.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}

.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}

.ui-collapsible {
    margin: 0;
}

.ui-collapsible-content {
    padding: .5em 0 .5em .5em;
}

.ui-panel-inner {
    padding: 0;
}

.aggiungiImmagineLabel, .aggiungiFileLabel {
    line-height: 28px;
    width: 200px;
}

.aggiungiImmagineButton, .aggiungiScreenshotButton, .aggiungiFileButton {
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
}

a.fileLink {
    font-size: 10pt;
}

.thumbContainer {
    position: relative;
}

.fileLinkContainer {
    position: relative;
    margin-bottom: 10px;
    margin-right: 30px;
}

.rimuoviImmagineButton {
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
}

.rimuoviFileButton {
    position: absolute;
    margin: 0px -30px 0px 0px;
    top: -4px;
    right: 0px;
}

.infoImmagineButton {
    position: absolute;
    margin: 0px;
    top: 32px;
    right: 0px;
}

.salvaImmagineButton {
    margin: 0px;
    top: -3px;
    float: right;
    z-index: 10;
}

.addValueImmagineButton {
    margin: 0px;
    margin-right: -24px;
    right: -4px;
    top: 10px;
    float: right;
    z-index: 10;
}

#pippo {
    position: relative;
    padding: 0;
    height: calc(100% - 68px);
}

#theCanvas {
    width: 100%;
    height: calc(100% - 4px);
}

#pointerCanvas {
    position: absolute;
    z-index: 100;
    pointer-events: none;
}

#infoPezzoPanel {
    width: 300px;
}

#infoPezzoPanelAux, #infoVersionPanelAux {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}

#infoPezzoPanelAux2, #infoVersionPanelAux2 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#immaginiInfoPanelAux {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pezzi-list thead th,
.pezzi-list tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.pezzi-list tbody th,
.pezzi-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.pezzi-list tbody tr:last-child th,
.pezzi-list tbody tr:last-child td {
    border-bottom: 0;
}

.pezzi-list tbody tr:nth-child(odd) td,
.pezzi-list tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0, 0, 0, .04);
}

#caricamentoPanelAux {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 262px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#caricamentoPanelAux2 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#immaginiPezzoPanelAux, #infoOggettoPanelAux{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}

#immaginiPezzoPanelAux2, #immaginiPezzoPanelAux3 {
    position: relative;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#mainMenuContainer, #hideObjectToolbar {
    text-align: center;
}

#creazioneInterventoPopup {
    text-align: center;
}

#aggiungiHotSpotPopupInside, #addComboValuePopupInside {
    margin-left: 10px;
    margin-right: 10px;
}

#inputHotSpotPopup, #inputComboValuePopup {
    margin-right: -10px;
    margin-bottom: 15px;
}

.ui-input-text {
    margin-right: 10px;
}

input.infoInputText {
    font-size: 15px;
}

input.infoInputNumber {
    width: calc(100% + 32px);
}

select.infoInputText {
    font-size: 15px;
    width: calc(100% - 10px);
}

textarea.infoInputText {
    font-size: 15px;
    margin-bottom: 8px;
    width: calc(100% - 10px);
}

label.infoLabel {
    font-size: 15px;
    margin-top: 12px;
    font-weight: normal;
}

h5.infoTitle {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 6px;
}

a.infoTitleExpanderDisabled {
    color: #555;
    background: #444;
}

.infoPezzoPanelInfo, .infoVersionPanelInfo {
    margin-top: -6px;
}

.ui-checkbox {
    margin-right: 10px;
}

button.loadbuttons {
    margin-top: 12px;
}

button.immaginiInfoPopupButtons {
    margin-top: 12px;
    width: calc(100% - 10px);
}

button.creditInfoPopupButtons {
    width: 150px;
    margin: 20px auto;
}

#immaginiInfoPopup {
    width: 200%;
    margin-left: calc(0px - 50%);
}

.hideToolbar {
    height: 0px;
    visibility: collapse;
}

.showToolbar {
    height: auto;
    visibility: visible;
}

#distanceText {
    position: absolute;
    margin-top: 4px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}

#addHotSpotText {
    position: absolute;
    margin-top: 4px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}

.aggiungiImmagineLabel, .aggiungiFileLabel {
    line-height: 28px;
    width: 200px;
}

#myThumbContainer{
    display: none;
}

.salvaOrtofotoButton {
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
}

.rimuoviOrthoButton {
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
}

.creditSubtitle {
    text-align: center;
}

.listaCredits {
    margin-top: 0px;
}

.colonnaCredits {
    width: 50%;
    vertical-align: top;
    text-align: left;
    padding: 20px;
}

.colonnaCredits {
    width: 50%;
    vertical-align: top;
    text-align: left;
    padding: 20px;
}

#colonnaCreditsLeft {
    padding-right: 10px;
}

#colonnaCreditsRight {
    padding-left: 10px;
}

#tableCredit{
    margin-top: -30px;
    margin-bottom: -30px;
}

#creditInfoPopup {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.creditsImage{
    margin: 6px;
}

.fontCredits {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.removedItems {
    position: absolute;
    margin: 0px;
    z-index: 100;
    visibility: collapse;
}

.loghi {
    position: absolute;
    margin: 0px;
    z-index: 100;
    display: none;
}

#logo3DSurveySmall, #logo3DSurveyLarge {
    top: 4px;
    left: 8px;
}

#logoPolimiSmall, #logoPolimiLarge {
    right: 8px;
    top: 4px;
}

h5.creditText {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
}

div.HiddenUI {
    visibility: collapse;
    height: 0px;
}

div.VisibleUI {
    visibility: inherit;
    height: auto;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 16px auto 8px auto;
    height: 0;
    width: 85%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

@media screen and (min-width: 640px) and (max-width: 1279px) {
    #logo3DSurveySmall {display: block}
}

@media screen and (min-width: 1280px) {
    #logo3DSurveyLarge {display: block}
}

@media screen and (min-width: 640px) and (max-width: 799px) {
    #logoPolimiSmall {display: block}
}

@media screen and (min-width: 800px) {
    #logoPolimiLarge {display: block}
}